<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer List</title>
</head>
<body>
<p align="right"><a th:href="@{/logout}">Logout</a></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birth Day</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${list.empty}">
            <td colspan="3">No Customers Available</td>
        </tr>
        <tr th:each="cust : ${list}">
            <td><a th:href="@{/customer/page/edit?email={email}(email=${cust.email})}" th:text="${cust.name}">Name</a></td>
            <td><span th:text="${cust.email}">Email</span></td>
            <td><span th:text="${cust.birthDate}">Birth Date</span></td>
        </tr>
    </tbody>
</table>
</body>
</html>